.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: steelblue;
  height: 70px;
  padding: 20px;
  color: white;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-intro { font-size: large; }

* { box-sizing: border-box; }

.movies { display: flex; flex-wrap: wrap; }

.App-header h2 { margin: 0; }

.add-movies { text-align: center; }
.add-movies button { font-size: 16px; padding: 8px; margin: 0 10px 30px 10px; }
.movie { padding: 5px 25px 10px 25px; max-width: 25%; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
